{% extends "bootstrap/base.html" %}

{% block title %}
    NESUMMER
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# содержимое приложения которое должно быть предоставлено в блоке app_content #}
        {% block app_content %}
        <h2>NEWS SUMMARIZER</h2>
        <form  action="" method="post" role="form">
                {{ form.csrf }}
                <div class="form-group">
                  <label for="name">URL:</label>
                  <input type="text" class="form-control" id="url" name="url" placeholder="Insert URL">
                </div>
                <button type="submit" class="btn btn-success">Summarize</button>
        </form>
        {% if summered_news %}
        <h2>Title: {{ title }}</h2>
        <h3>Date published:</h3> {{ date }}
        <hr>
        <p class="title" id="target"><span class="highlight"> {{ summered_news }}</span></p>
        <hr>
        {% endif%}     
        {% endblock %}
    </div>
{% endblock %}